@model IEnumerable<Cons_API.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a href="@Url.Action("Add","Client")" >Nouveau client  </a>
 @*   <a href="https://localhost:44383/client/add">Create New  </a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CT_Num)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_Intitule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CG_NumPrinc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_Complement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_CodePostal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_Ville)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_CodeRegion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_Pays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_Raccourci)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BT_Num)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_Ape)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_Identifiant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_Siret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_Encours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_NumPayeur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.N_CatTarif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.N_CatCompta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_DateCreate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_Sommeil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DE_No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_Telecopie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_EMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_Site)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timbre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_Remise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_CTVA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_Categorie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_Etranger)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_Devise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_CoursDevise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_LIVADRESSE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_LIVCP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_LIVVILLE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_LIVPAYS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_Qualite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_Adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_Commentaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_Classement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_Jointe1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_Jointe2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CO_No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMR_Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IT_CODE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_AUXI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_ICE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FC_NO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_CREATEUR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT_MODIFICATEUR)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CT_Num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_Intitule)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CG_NumPrinc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_Complement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_CodePostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_Ville)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_CodeRegion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_Pays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_Raccourci)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BT_Num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_Ape)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_Identifiant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_Siret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_Encours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_NumPayeur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.N_CatTarif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.N_CatCompta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_DateCreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_Sommeil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DE_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_Telecopie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_EMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_Site)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timbre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_Remise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_CTVA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_Categorie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_Etranger)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_Devise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_CoursDevise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_LIVADRESSE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_LIVCP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_LIVVILLE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_LIVPAYS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_Qualite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_Adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_Commentaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_Classement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_Jointe1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_Jointe2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CO_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMR_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IT_CODE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_AUXI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_ICE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FC_NO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_CREATEUR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_MODIFICATEUR)
            </td>
            <td>
                <a href="@Url.Action("Edit","Client", new { id = item.CT_Num})">Modifier </a> |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
